In [1]:
#KDD Project Deliverable 2 Updated

In [57]:
#importing module
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import csv
from pathlib import Path
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [3]:
'''
Data Cleansing Steps:
-Unnecessary Column Deletion
-Missing Values Check
-Column Naming Convention
-Duplicate Value Evaluation
-Null Values Evaluation
'''

'\nData Cleansing Steps:\n1)Remove Repeated Row \n2)Missing value treatment \n3)Removal of Irrelevant Data \n4)Manual error while typing \n5)Renaming Columns \n'

In [30]:
data = pd.read_csv("C:\\Users\\asuriakanth\\Desktop\\FAO.csv", encoding=('ISO-8859-1'), 
                  low_memory = False)
data

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,ZWE,181,Zimbabwe,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,-19.02,29.15,...,373.0,357.0,359.0,356.0,341.0,385.0,418.0,457.0,426,451
21473,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5521,Feed,1000 tonnes,-19.02,29.15,...,5.0,4.0,9.0,6.0,9.0,5.0,15.0,15.0,15,15
21474,ZWE,181,Zimbabwe,2960,"Fish, Seafood",5142,Food,1000 tonnes,-19.02,29.15,...,18.0,14.0,17.0,14.0,15.0,18.0,29.0,40.0,40,40
21475,ZWE,181,Zimbabwe,2961,"Aquatic Products, Other",5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
21476,ZWE,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,-19.02,29.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0

In [31]:
print(data)

      Area Abbreviation  Area Code         Area  Item Code  \
0                   AFG          2  Afghanistan       2511
1                   AFG          2  Afghanistan       2805
2                   AFG          2  Afghanistan       2513
3                   AFG          2  Afghanistan       2513
4                   AFG          2  Afghanistan       2514
...                 ...        ...          ...        ...
21472               ZWE        181     Zimbabwe       2948
21473               ZWE        181     Zimbabwe       2960
21474               ZWE        181     Zimbabwe       2960
21475               ZWE        181     Zimbabwe       2961
21476               ZWE        181     Zimbabwe       2928

                           Item  Element Code Element         Unit  latitude  \
0            Wheat and products          5142    Food  1000 tonnes     33.94
1      Rice (Milled Equivalent)          5142    Food  1000 tonnes     33.94
2           Barley and products          5521    Feed  1000 tonnes     33.94
3           Barley and products          5142    Food  1000 tonnes     33.94
4            Maize and products          5521    Feed  1000 tonnes     33.94
...                         ...           ...     ...          ...       ...
21472   Milk - Excluding Butter          5142    Food  1000 tonnes    -19.02
21473             Fish, Seafood          5521    Feed  1000 tonnes    -19.02
21474             Fish, Seafood          5142    Food  1000 tonnes    -19.02
21475   Aquatic Products, Other          5142    Food  1000 tonnes    -19.02
21476             Miscellaneous          5142    Food  1000 tonnes    -19.02

       longitude  ...   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009   Y2010  \
0          67.71  ...  3249.0  3486.0  3704.0  4164.0  4252.0  4538.0  4605.0
1          67.71  ...   419.0   445.0   546.0   455.0   490.0   415.0   442.0
2          67.71  ...    58.0   236.0   262.0   263.0   230.0   379.0   315.0
3          67.71  ...   185.0    43.0    44.0    48.0    62.0    55.0    60.0
4          67.71  ...   120.0   208.0   233.0   249.0   247.0   195.0   178.0
...          ...  ...     ...     ...     ...     ...     ...     ...     ...
21472      29.15  ...   373.0   357.0   359.0   356.0   341.0   385.0   418.0
21473      29.15  ...     5.0     4.0     9.0     6.0     9.0     5.0    15.0
21474      29.15  ...    18.0    14.0    17.0    14.0    15.0    18.0    29.0
21475      29.15  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0
21476      29.15  ...     0.0     0.0     0.0     0.0     0.0     0.0     0.0

        Y2011  Y2012  Y2013
0      4711.0   4810   4895
1       476.0    425    422
2       203.0    367    360
3        72.0     78     89
4       191.0    200    200
...       ...    ...    ...
21472   457.0    426    451
21473    15.0     15     15
21474    40.0     40     40
21475     0.0      0      0
21476     0.0      0      0

[21477 rows x 63 columns]

In [21]:
data.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [ ]:
'''
Delete unnecessary columns by defining list with columns to drop. we call the drop() function 
on our object, passing in the inplace parameter as True and the axis parameter as 1
'''
data.drop(['latitude','longitude', 'Area Abbreviation'],axis=1 ,inplace=True)

In [44]:
#Columns are dropped
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,1928.0,1904.0,1666.0,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,183.0,183.0,182.0,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,76.0,76.0,76.0,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,237.0,237.0,237.0,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,210.0,210.0,214.0,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

In [46]:
'''
Check for missing values  
'''
#no missing data values, so no need to drop it or fill with other arbitrary value
missing = data.isnull() 
print(missing)

       Area Code   Area  Item Code   Item  Element Code  Element   Unit  \
0          False  False      False  False         False    False  False
1          False  False      False  False         False    False  False
2          False  False      False  False         False    False  False
3          False  False      False  False         False    False  False
4          False  False      False  False         False    False  False
...          ...    ...        ...    ...           ...      ...    ...
21472      False  False      False  False         False    False  False
21473      False  False      False  False         False    False  False
21474      False  False      False  False         False    False  False
21475      False  False      False  False         False    False  False
21476      False  False      False  False         False    False  False

       Y1961  Y1962  Y1963  ...  Y2004  Y2005  Y2006  Y2007  Y2008  Y2009  \
0      False  False  False  ...  False  False  False  False  False  False
1      False  False  False  ...  False  False  False  False  False  False
2      False  False  False  ...  False  False  False  False  False  False
3      False  False  False  ...  False  False  False  False  False  False
4      False  False  False  ...  False  False  False  False  False  False
...      ...    ...    ...  ...    ...    ...    ...    ...    ...    ...
21472  False  False  False  ...  False  False  False  False  False  False
21473  False  False  False  ...  False  False  False  False  False  False
21474  False  False  False  ...  False  False  False  False  False  False
21475  False  False  False  ...  False  False  False  False  False  False
21476  False  False  False  ...  False  False  False  False  False  False

       Y2010  Y2011  Y2012  Y2013
0      False  False  False  False
1      False  False  False  False
2      False  False  False  False
3      False  False  False  False
4      False  False  False  False
...      ...    ...    ...    ...
21472  False  False  False  False
21473  False  False  False  False
21474  False  False  False  False
21475  False  False  False  False
21476  False  False  False  False

[21477 rows x 60 columns]

In [47]:
'''
Column Renaming: Columns mentioned here have appropriate naming conventions so need to rename 
'''

'\nColumn Renaming: Columns mentioned here have appropriate naming conventions so need to rename \n'

In [51]:
'''
Checking for duplicate rows/values based on all columns in 'data' dataframe  by using duplicated() 
function
'''
data.duplicated()

#no duplicated rows present in dataframes

0        False
1        False
2        False
3        False
4        False
         ...
21472    False
21473    False
21474    False
21475    False
21476    False
Length: 21477, dtype: bool

In [53]:
'''
Null Value Evaluation
'''
data.isnull()
#no null values present

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21472,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21473,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21474,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21475,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21476,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [56]:
data.shape

(21477, 60)

In [ ]:
'''
Standardization/Normalization
'''
scaler = StandardScaler()
scaler.fit()

In [59]:
'''
Preliminary Data Analysis - In Progress  (taking a stab at initial list of research questions)
'''

'\nPreliminary Data Analysis - In Progress \n'

In [61]:
# Want to see top 20 food feed production for 1961 as this will help to determine top 5 foods produced
#by each continent in that year
top_20 = data.nlargest(20, 'Y1961')
top_20

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
20506,231,United States of America,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,112227.0,109130.0,106356.0,...,170320.0,166631.0,150006.0,156304.0,146098.0,141625.0,131633.0,124808.0,125012,140096
20399,231,United States of America,2514,Maize and products,5521,Feed,1000 tonnes,81588.0,80191.0,76406.0,...,155831.0,155323.0,140719.0,148787.0,131619.0,130193.0,121902.0,115739.0,109607,128024
4239,41,"China, mainland",2907,Starchy Roots,5142,Food,1000 tonnes,74071.0,75097.0,66180.0,...,106009.0,105309.0,85157.0,86491.0,92753.0,90151.0,93641.0,94671.0,94969,95208
4143,41,"China, mainland",2533,Sweet potatoes,5142,Food,1000 tonnes,64319.0,66000.0,57920.0,...,50647.0,50376.0,41957.0,35788.0,37731.0,34582.0,32795.0,33380.0,33621,33623
9139,100,India,2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,63431.0,68508.0,66208.0,...,165749.0,167463.0,172010.0,177260.0,181605.0,179175.0,184552.0,184648.0,181267,185884
4237,41,"China, mainland",2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,59256.0,66145.0,74029.0,...,201977.0,202337.0,202349.0,200735.0,203218.0,201290.0,204167.0,208701.0,207802,209038
4249,41,"China, mainland",2918,Vegetables,5142,Food,1000 tonnes,52968.0,49318.0,43635.0,...,360767.0,373694.0,388100.0,402975.0,425537.0,434724.0,451838.0,462696.0,479028,489299
20493,231,United States of America,2848,Milk - Excluding Butter,5142,Food,1000 tonnes,50289.0,49326.0,50260.0,...,76008.0,76887.0,76329.0,78349.0,77704.0,79447.0,78596.0,78752.0,81287,81513
20531,231,United States of America,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,50289.0,49326.0,50260.0,...,76008.0,76887.0,76329.0,78349.0,77704.0,79447.0,78596.0,78752.0,81287,81513
4186,41,"China, mainland",2605,"Vegetables, Other",5142,Food,1000 tonnes,44728.0,41160.0,36386.0,...,318852.0,330278.0,343450.0,355019.0,373622.0,377460.0,393516.0,402338.0,419262,426850
9036,100,India,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,30617.0,32438.0,31833.0,...,77793.0,80672.0,80897.0,82527.0,84858.0,85325.0,86928.0,86478.0,86933,87006
4123,41,"China, mainland",2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,26687.0,31141.0,36802.0,...,100004.0,100676.0,101234.0,101221.0,104423.0,105363.0,106350.0,109404.0,107956,108321
15405,173,Poland,2531,Potatoes and products,5521,Feed,1000 tonnes,23400.0,18400.0,23500.0,...,4908.0,2013.0,1646.0,3964.0,2887.0,2279.0,1835.0,2200.0,2108,1505
15496,173,Poland,2907,Starchy Roots,5521,Feed,1000 tonnes,23400.0,18400.0,23500.0,...,4908.0,2013.0,1646.0,3964.0,2887.0,2279.0,1835.0,2200.0,2108,1505
4236,41,"China, mainland",2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,17963.0,17223.0,22079.0,...,108232.0,110316.0,111576.0,115518.0,126518.0,131336.0,143443.0,166554.0,181259,193043
20518,231,United States of America,2918,Vegetables,5142,Food,1000 tonnes,17713.0,18628.0,17584.0,...,39107.0,36668.0,37892.0,39116.0,35699.0,37686.0,37496.0,36650.0,37515,36472
9125,100,India,2848,Milk - Excluding Butter,5142,Food,1000 tonnes,17487.0,17369.0,17150.0,...,70842.0,73892.0,78328.0,84883.0,88860.0,92673.0,96723.0,102840.0,105471,105807
9162,100,India,2948,Milk - Excluding Butter,5142,Food,1000 tonnes,17487.0,17369.0,17150.0,...,70842.0,73892.0,78328.0,84883.0,88860.0,92673.0,96723.0,102840.0,105471,105807
9151,100,India,2918,Vegetables,5142,Food,1000 tonnes,16925.0,17664.0,18395.0,...,60491.0,65549.0,74760.0,80659.0,83421.0,82568.0,91969.0,98339.0,104773,111082
20524,231,United States of America,2943,Meat,5142,Food,1000 tonnes,16780.0,17181.0,18036.0,...,37160.0,37361.0,37776.0,38117.0,37598.0,36738.0,37103.0,36621.0,36485,36849

In [68]:
#group datafram by Area (country)   --> helps in seeing how food production has evolved in that year
#based on the area

# group the data on country .
country_grouping = data.groupby('Area')
country_grouping.first()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,Y1964,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,2,2511,Wheat and products,5142,Food,1000 tonnes,1928.0,1904.0,1666.0,1950.0,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
Albania,3,2511,Wheat and products,5521,Feed,1000 tonnes,10.0,18.0,15.0,15.0,...,28.0,28.0,30.0,28.0,28.0,30.0,26.0,25.0,20,18
Algeria,4,2511,Wheat and products,5521,Feed,1000 tonnes,0.0,0.0,0.0,0.0,...,175.0,175.0,175.0,175.0,200.0,200.0,280.0,450.0,635,545
Angola,7,2511,Wheat and products,5142,Food,1000 tonnes,43.0,49.0,53.0,56.0,...,476.0,521.0,571.0,605.0,645.0,658.0,693.0,776.0,837,874
Antigua and Barbuda,8,2511,Wheat and products,5142,Food,1000 tonnes,5.0,5.0,5.0,6.0,...,5.0,5.0,5.0,5.0,5.0,5.0,6.0,5.0,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),236,2511,Wheat and products,5521,Feed,1000 tonnes,62.0,16.0,24.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0,0
Viet Nam,237,2511,Wheat and products,5521,Feed,1000 tonnes,0.0,0.0,0.0,0.0,...,350.0,150.0,325.0,300.0,200.0,750.0,850.0,1100.0,1100,800
Yemen,249,2511,Wheat and products,5142,Food,1000 tonnes,67.0,69.0,84.0,95.0,...,2091.0,2087.0,2169.0,2262.0,2318.0,2464.0,2580.0,2756.0,2604,2691
Zambia,251,2511,Wheat and products,5142,Food,1000 tonnes,24.0,18.0,24.0,22.0,...,163.0,154.0,168.0,164.0,156.0,157.0,106.0,150.0,175,176
Zimbabwe,181,2511,Wheat and products,5142,Food,1000 tonnes,81.0,59.0,78.0,72.0,...,248.0,263.0,329.0,364.0,371.0,411.0,380.0,395.0,433,443